@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url('../Images/white-and-grey.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(2,55,86);
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
       
h1 {
  font-size: 3.5em;
  color: rgb(2,55,86);
} 

h2 {
  color:rgb(2,55,86);
}

/* Navbar Styles */

.navbar {
  position: fixed;
  width: 100vw;
}

.navbar-links {
  color: rgb(2,55,86);
}

.navbar-links:hover{
color: rgb(2,55,86);
}

/* ----------------- Index Page ------------------ */

.home-main {
  width: 100%;
  height: 100%;
}

.home-title-section {
  height: 50%;
  width: 100%;
} 

.home-title-h1 {
  display: block;
}

.home-title-h2 {
  display: block;
}

.home-button-section {
  width: 100%;
  height: 50%;
}

.home-anchors {
  margin: 0 25px 0 25px;
}

.home-buttons {
  background-color: #326173;
  color: #F2EFDF;
  font-size: 1em;
  width: 100px;
  height: 40px;
  border: #326173;
  border-radius: 5%;
}

.home-anchors:hover {
  margin: 0 20px 0 20px;
}

.home-buttons:hover {
  font-size: 1.2em;
  width: 110px;
  height: 50px;
  border: #6C868C;
}

.btn {
  background:  #ffe6ff;
}

.button-text {
  color: #0e153a;
}

.button-text:hover {
  text-decoration: none;
  color:#0e153a;
}

.user {
    width: 65%;
    min-height:40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform .3s linear;
}

#search-btn {
  background-color: black;
  color:#ffe6ff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  outline:none;
}

.form-items {
  width:100%
}

.text-input {
  width: 100%;
  margin: 8px;
  color: #ffe6ff;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-bottom: solid 2px #ffe6ff;
  outline: none;
}

footer {
  height: 5%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0%;
}

.search-bar {
  position: absolute;
  text-decoration: none;
  outline: none;
  top: 20px;
  right: 20px;
}

#input-bar {
  outline: none;
  background-color: #ffe6ff;
}

.search-items {
  background: #ffe6ff;
  width: 100%;
}

.search {
  display: none;
  list-style: none;
}

.search-link {
  color: black;
}

.search-link:hover {
  color: black;
  text-decoration: none;
}

.visible {
  display: block;
}